svg {
  /*background-image: url(olympicsrcpicture.jpg);  - можно сравнить */
  stroke: red;
  fill: red;
  }
  
circle {r: 150px; fill: transparent; stroke-width: 16}
  
path {fill: none; stroke-width: 40}
