svg {
  /*background-image: url(https://img-fotki.yandex.ru/get/404631/48517161.7e/0_20d47b_da5e0e27_orig);  - можно сравнить */
  stroke: red;
  fill: red;
  }
  
circle {r: 150px; fill: transparent; stroke-width: 16}
  
path {fill: none; stroke-width: 40}
